<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            here is about page. <br/>
            This tutorial has been put together
by {{ my_name }}. <br />
            <img src="{{ MEDIA_URL }}cat.jpeg"
                 alt="About Picture" />
        </div>
        <div>
            <a href='/rango'>Index here</a> <br />
            <img src="{% static "images/about.png" %}"
                 alt="About Picture" />
        </div>
    </body>
</html>